body{
  margin:0;
  background-color: #ffffff;
}
header {
  width: 100%;
  height: 50px;
  background-color: #e6e6e6;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: flex;
  display: block;
  height: 100%;
  flex-grow: 1;
  justify-content: space-between;
}

.nav a {
  display:flex;
  line-height: 50px;
  color: black;
  justify-content: center;
  font-weight:bold;
}

.nav a:hover {
  background-color: #f2c100;
}
.nav a:active {
  color: white;
  text-decoration: none;
}

.avatar {
  border-radius: 60%;
  border: 5px solid #ffffff; 
  box-shadow: 2px 1px 5px #f2c100;
}


/*.main {
  margin-bottom: auto;
}
*/

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.section-title {
  margin-bottom: 20px;  
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000000;
}

.section-subtitle {
  margin-top: 20px;
  color: #000000;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #f2c100;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;  
  text-transform: uppercase;
}

.skill-set li {
  background:#e6e6e6;
	border-radius:5px;
	color:rgb(0, 0, 0);
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}

.skill-set li:hover {
  background:#f2c100;
}

.Contacts-list {
  width: 15%;
  margin: 0;
  counter-reset: li;
  list-style: none;
  background:#ffffff;
  padding: 10px;
}

.Contacts-list li {
  position: relative;
  margin: 0 0 10px 2em;
  padding: 4px 8px;
  border-top: 2px solid #ffffff;
  transition: .3s linear;
}

.Contacts-list li:last-child {
  margin-bottom: 0;
}

.Contacts-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: -2px;
  left: -2em;
  width: 2em;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #787A77;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  transition: .3s linear;
}

.Contacts-list li:hover {
  border-top: 2px solid #f2c100;
}

.Contacts-list li:hover:before {
  border: 2px solid #f2c100;
  background:#eecd4bba;
}